@tailwind base;
@tailwind components;
@tailwind utilities;
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

